# Ignore everything
*

# Whitelist
!.gitignore
!PKGBUILD

!postgresql-run-socket.patch
!postgresql.install
!postgresql.logrotate
!postgresql.pam
!postgresql.service
!postgresql.tmpfiles.conf
!postgresql-check-db-dir
!postgresql-perl-rpath.patch
!postgresql.sysusers
